<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:rim="http://www.blackberry.com/ns/widgets"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="org.apache.cordova.audiomanager"
      version="0.3.6">

    <name>ProfileManager</name>
    <description>My ProfileManager Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,profile manager</keywords>
    <repo>https://git-wip-us.apache.org/repos/asf/cordova-plugin-geolocation.git</repo>
    <issue>https://issues.apache.org/jira/browse/CB/component/12320638</issue>

    <!-- android -->
    <platform name="android">
        <js-module src="www/audiomanager.js" name="ProfileManager">
            <clobbers target="ProfileManager" />
        </js-module>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ProfileManager">
	            <param name="android-package" value="org.apache.cordova.audiomanager.ProfileManager"/>
	        </feature>
        </config-file>
        <source-file src="src/android/ProfileManager.java" target-dir="src/org/apache/cordova/audiomanager" />
    </platform>
</plugin>
